#model_setting_header {
    font: 24px;
    font-family: "Microsoft YaHei";
    color: #0EA5E9;
}

ModelSettingWidget QLabel {
    font: 20px;
    font-family: "Microsoft YaHei";
}

ModelSettingWidget QLineEdit {
    font-size: 20px;
    font-family: "Microsoft YaHei";
}

#open_file_button{
    font-size: 20px;
    font-family: "Microsoft YaHei";
}