#predict_setting_header {
    font-size: 24px;
    font-family: 'Microsoft YaHei';
    color: #0EA5E9;
}

PredictSettingWidget QLabel, #open_file_button{
    font-size: 20px;
    font-family: 'Microsoft YaHei';
}

QLabel, QLineEdit, PushButton {
    font: 20px;
    font-family: "Microsoft YaHei";
}